.card__content {
  width: 240px;
  max-height: 360px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__content:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card__image {
  height: 210px;
  width: 100%;
}
