.header__container {
  height: 80px;
  width: 100vw;
  padding: 40px;
  
  border-bottom: 1px solid whitesmoke;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__welcome {
  height: 40px;

  display: flex;
  align-items: center;
  gap: 10px;
  
}

.header__welcome-img {
  width: 40px;
  border-radius: 20px;
}

.header__welcome-span {
  color: white;
}